@model GCMAP.ViewModels.EditNewsViewModel

@{
    ViewData["Title"] = "Изменить новость";
}

<div class="container">
    <h2 class="special-header" style="padding-bottom:12px">Измените новость</h2>
    <div class="justify-content-center align-content-center">
        <form method="post" asp-controller="Moderator" asp-action="EditNews" enctype="multipart/form-data">
            <div class="form-row justify-content-center">
                <div class="col-lg-6 col-12 validation">
                    <div asp-validation-summary="ModelOnly"></div>
                </div>
            </div>
            <input asp-for="Id" hidden="hidden" />
            <div class="form-row justify-content-center">
                <div class="col-lg-6 col-12">
                    <label asp-for="Theme" class="login-label"></label><br />
                    <input asp-for="Theme" class="form-control" />
                    <span asp-validation-for="Theme"></span>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="col-lg-6 col-12">
                    <label asp-for="Description" class="login-label"></label><br />
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description"></span>
                </div>
            </div>
            <div class="form-row justify-content-center file-input">
                <div class="col-lg-6 col-12">
                    <div class="custom-file">
                        <input type="file" asp-for="Photo" class="custom-file-input" id="customFile" />
                        <label class="custom-file-label" for="customFile">Измените фото</label>
                    </div>
                    <span asp-validation-for="Photo"></span>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="col-lg-6 col-12">
                    <a class="btn btn-secondary register-button" asp-controller="Moderator" asp-action="News">
                        Назад
                    </a>
                    <button type="submit" class="btn btn-primary register-button">Изменить новость</button>
                </div>
            </div>
        </form>
    </div>
</div>
