@{
    ViewData["Title"] = "Письмо отправлено";
}

<div class="container">
    <h2 class="special-header" style="padding-bottom:12px">Подтвердите email, письмо пришло вам на почту</h2>
    <div class="ok-items mt-3">
        <div><i class="far fa-envelope fa-7x"></i></div>
        <div class="mt-3"><a asp-controller="Home" asp-action="Index">На главную</a></div>
    </div>
</div>