@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Роли";
}

<div class="container">

    <h2 class="special-header" style="padding-bottom:12px">Управление ролями</h2>

    <div class="users-link">
        <a asp-controller="Admin" asp-action="CreateRole">Добавить роль</a>
        <a class="users-roles" asp-controller="Admin" asp-action="Users">Пользователи</a>
    </div>

    <div class="table-responsive">
        <table class="table">
            <tr><th>Название роли</th><th>Действие</th></tr>
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>
                        <form asp-controller="Admin" asp-action="DeleteRole" asp-route-id="@role.Id" method="post">
                            <button type="submit" class="btn btn-primary offer-modal-button">
                                Удалить
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
