@model GCMAP.ViewModels.ConnectionViewModel

@{
    ViewData["Title"] = "Подключить станцию";
}

<div class="container">
    <h2 class="special-header" style="padding-bottom:12px">Подтвердите подключение</h2>
    <div class="justify-content-center align-content-center">
        <form method="post" asp-controller="Home" asp-action="Join">
            <div class="form-row justify-content-center">
                <div class="col-lg-6 col-12 validation">
                    <div asp-validation-summary="ModelOnly"></div>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="col-lg-6 col-12">
                    <label asp-for="NickName" class="login-label"></label><br />
                    <input asp-for="NickName" class="form-control" />
                    <span asp-validation-for="NickName"></span>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="col-lg-6 col-12">
                    <label asp-for="StationName" class="login-label"></label><br />
                    <input asp-for="StationName" class="form-control" />
                    <span asp-validation-for="StationName"></span>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="col-lg-3 col-6">
                    <label asp-for="X" class="login-label"></label><br />
                    <input asp-for="X" class="form-control" />
                    <span asp-validation-for="X"></span>
                </div>
                <div class="col-lg-3 col-6">
                    <label asp-for="Z" class="login-label"></label><br />
                    <input asp-for="Z" class="form-control" />
                    <span asp-validation-for="Z"></span>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="col-lg-6 col-12">
                    <label asp-for="Contact" class="login-label"></label><br />
                    <input asp-for="Contact" class="form-control" />
                    <span asp-validation-for="Contact"></span>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="col-lg-6 col-12">
                    <a class="btn btn-secondary register-button" asp-controller="Home" asp-action="Index">
                        Назад
                    </a>
                    <button type="submit" class="btn btn-primary register-button">Подтвердить</button>
                </div>
            </div>
        </form>
    </div>
</div>